<!DOCTYPE html>
<html>
    <head> 
        <script src="/static/js/bone.js"></script>
    </head>
    <body>
        <h3>ADD</h3>
        <form method="POST">
        {{#each skel}}
            {{{renderBone @key this}}}
            <br>

        {{/each}}
        <button type="submit">Senden</button>
        </form>

    </body>
</html>