<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
       
        <% for (var i = 0; i < data.length; i++) { %>

            <%= JSON.stringify(data[i]) %>
            <%= data[i]%>
            <br>

            <% } %>

    </body>
</html>